<span class="bg-black block text-neutral-600 text-sm xl:pt-30 xl:pt-32 md:pt-24 pt-16">#footer text-white p-4</span>
<footer class="text-white mb-10 border-y border-dashed border-gray48">
    <div class="mx-auto w-full max-w-screen-xl">
        <div class="mb-12"><img fetchpriority="low" class="h-20 xl:h-30" src="../assets/images/large.webp" alt=""></div>
        <div class="md:flex md:justify-between">
            <div class="grid grid-cols-1 gap-5 sm:gap-6 sm:grid-cols-2">
                <div>
                    <h2 class="mb-6 text-sm font-semibold uppercase border-y border-dashed border-gray48">Sosial</h2>
                    <ul class="font-medium grid gap-5">
                        <li>
                            <a href="https://github.com/Ega-telkom/" target="_blank" rel="noopener noreferrer" class="hover:underline">Github<span class="material-icons-outlined">open_in_new</span></a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/ega-natha-29469434b/" target="_blank" rel="noopener noreferrer" class="hover:underline">LinkedIn<span class="material-icons-outlined">open_in_new</span></a>
                        </li>
                    </ul>
                </div>
                <div>
                    <h2 class="mb-6 text-sm font-semibold uppercase border-y border-dashed border-gray48">Lihat Juga</h2>
                    <ul class="font-medium grid gap-5">
                        <li>
                            <a href="tentang.html" class="hover:underline">Tentang</a>
                        </li>
                        <li>
                            <a href="keterampilan.html" class="hover:underline">Keterampilan</a>
                        </li>
                        <li>
                            <a href="https://github.com/Ega-telkom/port-1" target="_blank" rel="noopener noreferrer" class="hover:underline">Sumber Kode<span class="material-icons-outlined">open_in_new</span></a>
                        </li>
                    </ul>
                </div>
                <div class="w-auto">
                    <h2 class="mb-6 text-sm font-semibold uppercase border-y border-dashed border-gray48">Alamat</h2>
                    <p>SMK Telkom Purwokerto, Jalan Mayor Jenderal DI. Panjaitan, Teluk, Purwokerto, Banyumas, Central Java, Java, 53141</p>
                </div>
                <div>
                    <h2 class="mb-6 text-sm font-semibold uppercase border-y border-dashed border-gray48">Peta</h2>
                    <div id="map"></div>
                </div>
            </div>
        </div>
        <hr class="my-6 border-neutral-950 sm:mx-auto lg:my-8" />
        <div class="grid border-t border-dashed border-gray48">
            <div class="box bg-hacker"><span class="text-sm text-black sm:text-center">(C) 2025 Ega, Indie Indeed(TM). Lisensi MIT.</span></div>
            <div class="box bg-black">&nbsp;</div>
            <div class="box bg-gray24">&nbsp;</div>
            <div class="box bg-gray48">&nbsp;</div>
            <div class="box bg-white">&nbsp;</div>
        </div>
    </div>
</footer>