<nav class="bg-black mt-5 z-2 mb-8 border-y border-dashed border-gray48">
    <div class="flex flex-wrap items-center justify-between mx-auto">
        <a href="./" class="flex items-center space-x-3 rtl:space-x-reverse">
            <img src="../assets/images/logo.webp" alt="Logo" class="h-7 md:h-5">
        </a>

        <!-- hamburger menu-->
        <button data-collapse-toggle="navbar-default" type="button"
            class="inline-flex items-center justify-center text-sm md:hidden cursor-pointer" aria-controls="navbar-default"
            aria-expanded="false">
            <span class="sr-only">Open main menu</span>
            <img class="h-7 md:h-5" src="../assets/images/menu.webp" alt="Menu icon">
        </button>

        <!-- navbar menu -->
        <div class="mt-5 flex md:mt-0 hidden w-full md:block md:w-auto" id="navbar-default">
            <ul class="gap-3 font-medium flex flex-col md:p-0 mt-0 md:gap-0 md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0">
                <li>
                    <a class="bg-hacker hover:underline primary text-neutral-950" href="../assets/misc/CV.pdf">Unduh CV</a>
                </li>
                <li>
                    <a href="./tentang.html" class="block md:border-0 md:p-0 hover:underline navigation {{ currentPage === 'about.html' ? 'active' : '' }}">/tentang</a>
                </li>
                <li>
                    <a href="./proyek.html" class="block md:border-0 md:p-0 hover:underline navigation {{ currentPage === 'project.html' ? 'active' : '' }}">/proyek</a>
                </li>
                <li>
                    <a href="./keterampilan.html" class="block md:border-0 md:p-0 hover:underline navigation {{ currentPage === 'skill.html' ? 'active' : '' }}">/keterampilan</a>
                </li>
                <li>
                    <a href="../{{ currentPage }}" class="hover:underline" title="English">EN</a>
                    <span>/</span>
                    <span class="underline" title="Bahasa Indonesia (Terpilih)">>ID</span>
                </li>
            </ul>
        </div>
    </div>
</nav>
