/* ibm-plex-mono-100 - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'IBM Plex Mono';
	font-style: normal;
	font-weight: 100;
	src: url('../fonts/ibm-plex-mono-v19-latin-100.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  
  /* ibm-plex-mono-100italic - latin */
  @font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'IBM Plex Mono';
	font-style: italic;
	font-weight: 100;
	src: url('../fonts/ibm-plex-mono-v19-latin-100italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  
  /* ibm-plex-mono-regular - latin */
  @font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'IBM Plex Mono';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/ibm-plex-mono-v19-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  
  /* ibm-plex-mono-italic - latin */
  @font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'IBM Plex Mono';
	font-style: italic;
	font-weight: 400;
	src: url('../fonts/ibm-plex-mono-v19-latin-italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  
  /* ibm-plex-mono-700 - latin */
  @font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'IBM Plex Mono';
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/ibm-plex-mono-v19-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  
  /* ibm-plex-mono-700italic - latin */
  @font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'IBM Plex Mono';
	font-style: italic;
	font-weight: 700;
	src: url('../fonts/ibm-plex-mono-v19-latin-700italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

* {
	font-family: 'IBM Plex Mono', monospace;
}

/* Warna strip yang keren */

html::before {
	transform: translateZ(0);
	background-image: linear-gradient(45deg, #242424 6.25%, #000000 6.25%, #000000 50%, #242424 50%, #242424 56.25%, #000000 56.25%, #000000 100%);
	background-size: 11.31px 11.31px;

	/* Agar semua website mendukung */
	content: "";
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: -1;
}

html {
	background-color: #000000;
}