@import "tailwindcss";

@theme {  
    --color-gray24: #242424;
    --color-gray48: #242424;
    --color-hacker: #00d126;
}

@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'IBM Plex Mono';
	font-style: normal;
	font-weight: 100;
	src: url('/woff/ibm-plex-mono-v19-latin-100.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  
  /* ibm-plex-mono-100italic - latin */
  @font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'IBM Plex Mono';
	font-style: italic;
	font-weight: 100;
	src: url('/woff/ibm-plex-mono-v19-latin-100italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  
  /* ibm-plex-mono-regular - latin */
  @font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'IBM Plex Mono';
	font-style: normal;
	font-weight: 400;
	src: url('/woff/ibm-plex-mono-v19-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  
  /* ibm-plex-mono-italic - latin */
  @font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'IBM Plex Mono';
	font-style: italic;
	font-weight: 400;
	src: url('/woff/ibm-plex-mono-v19-latin-italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  
  /* ibm-plex-mono-700 - latin */
  @font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'IBM Plex Mono';
	font-style: normal;
	font-weight: 700;
	src: url('/woff/ibm-plex-mono-v19-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  
  /* ibm-plex-mono-700italic - latin */
  @font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'IBM Plex Mono';
	font-style: italic;
	font-weight: 700;
	src: url('/woff/ibm-plex-mono-v19-latin-700italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }


:root {
    font-family: IBM Plex Mono, monospace;
}

/* Warna strip yang keren */

html::before {
	transform: translateZ(0);

	background-image:linear-gradient(90deg,#0e0e0e 1px,#0000 1px),linear-gradient(#0e0e0e 1px,#0000 1px);
	background-size:12px 12px;

	/* Agar semua website mendukung */
	content: "";
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: -1;
}

html {
	background-color: #000000;
}

.navigation.active {
	text-decoration: underline;
}

*::-webkit-scrollbar {
	width: 10px;
	background-color: black; /* overall scrollbar background */
}
  
*::-webkit-scrollbar-track {
	background: black; /* makes the track invisible */
}

*::-webkit-scrollbar-thumb {
	background-color: rgb(90, 90, 90); /* style your thumb as desired */
	border-radius: 10px;
	border: 2px solid transparent;
	background-clip: content-box;
}

.cursor {
	animation: blink 1s steps(1, start) infinite;
}

@keyframes blink {
	50% {opacity: 0;}
}

#map { height: 250px; }


.leaflet-layer,
.leaflet-control-zoom-in,
.leaflet-control-zoom-out {
  filter: invert(100%) hue-rotate(180deg) brightness(95%) contrast(90%);
}

.leaflet-control-attribution {
	background-color: black !important;
	color: white !important;
}